.container {
  position: absolute;
  right: 0;
  top: 72px;
  z-index: 1;
  width: 250px;
  padding: 0 20px 20px;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: column;

  border-color: rgb(54, 58, 61);
  background-color: var(--secondary-background) !important;
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 1px inset;
  user-select: none;
}

.container * {
  background-color: var(--secondary-background) !important;
}

.container h1 {
  margin-top: 10px;
}

.container input {
  border: none;
  width: 200px;
  height: 25px;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: var(--form-background) !important;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.links button {
  width: 100px;
}

.links a {
  text-decoration: none;
  font-size: 1.1rem;
  margin: auto 0;
}

.links a:hover {
  color: var(--secondary);
}

.error {
  min-height: 20px;
  margin-top: 10px;
}

.error h3 {
  color: red;
}
