.container h1,
.container h2,
.container p {
  background-color: #1f2224;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px 50px;
  margin: 100px auto 0;
  border-color: rgb(54, 58, 61);
  background-color: #1f2224;
  box-shadow: rgb(0 0 0 / 15%) 0px 1px 1px inset;
}

.container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.container img {
  margin: 25px auto;
  width: 90%;
  aspect-ratio: 2/1;
}

.container p {
  line-height: 1.2;
  font-size: 1rem;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 1.5rem;
  }
  .container h2 {
    font-size: 1rem;
  }
  .container p {
    font-size: 0.8rem;
  }
}
