@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap");
:root {
  --app-background: #181a1b;
  --dark: #000;
  --light: #fff;
}

* {
  background: var(--app-background);
  color: var(--light);
  font-family: "Roboto", sans-serif !important;
}

p {
  font-family: "Lora", serif;
}
